@model IEnumerable<APiProjetoFinal.Models.Paciente>

@{
    ViewData["Title"] = "Paciente";
}

<h3>Pacientes Cadastrados</h3>
<hr />

<table class=" table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>

                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-dark">Editar</button></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-dark">Detalhes</button></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-dark">Deletar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-dark">Cadastrar Paciente</button></a>
</p>

