@model APiProjetoFinal.Models.Medicamento

@{
    ViewData["Title"] = "Details";
}


<div>
    <p style="text-align:center; padding-top:10px; text-decoration:underline; color:black;">Detalhes</p>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)

        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
           <label>Tipo de medicamento</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMedicamento)
        </dd>
        <dt class = "col-sm-2">
            <label>Data de validade</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDeValidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque)
        </dd>
        <dt class = "col-sm-2">
           <label>Descrição</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><button type="button" class="btn btn-dark">Editar</button></a> |
    <a asp-action="Index"><button type="button" class="btn btn-dark">Voltar</button></a>
</div>
